[Gg]enerated Files/
build/
[Dd]ebug*/
[Bb]in/
[Rr]elease/
ipch/
[Pp]erfLogs/
TestFiles/

*.sap
*.g.cs
*.g.hpp
*.g.cpp
*.tlog
*.o
*.~
*~
*.swp
.DS_Store
*.bak

*.sdf
*.opensdf
*.obj
*.exe

*.user
*.suo
*.sln.cache
*.user
*.xap
*.vspcc
*.vscc 
*.vssscc
